.AuthPage{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex   ;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.AuthBox{
    padding: 20px 20px;
    width: 400px;
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #dcdcdc;
}

.heading1{
font-size: 25px;
font-weight: 600;
color: #1E1E1E;


}

.lable{
    color: grey;
}

.TextFeild{
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 0;
}

.errorMessage{
    color: red;
    font-size: 15px;
    background-color: rgb(255, 199, 199);
    padding: 10px;
    border-radius: 10px;
}

.primaryButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}

.primaryButton:hover{
    background-color: #0056b3;
}

.secondaryButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #007BFF;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}
*{
    animation-duration: 10s;
    transition: 1s;
}