.primaryButton{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}

.primaryButton:hover{
    background-color: #0056b3;
}

.secondaryButton{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #007BFF;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}
*{
    animation-duration: 10s;
    transition: 1s;
}